body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #FFFBEA; /* Updated background color */
}

.header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
}

.search-bar .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.search-bar .search-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.search-bar input {
    width: 65%;
    padding: 10px;
    font-size: 16px;
}

.search-bar img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.products, .cart {
    padding: 20px;
    text-align: center;
}

.products h2, .cart h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.product-item {
    margin-bottom: 20px;
    position: relative;
}

.product-item img, .cart img {
    width: 100px;
    height: 100px;
}

.product-item .price {
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    margin-top: 5px;
    color: #555;
}

.product-item p {
    font-size: 18px;
    margin-top: 5px;
    color: #555;
}

.quote {
    margin-top: 20px;
    font-style: italic;
}

.pointer {
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-top: 1px solid #fff;
}

.animated-button {
    transition: transform 0.2s;
}

.animated-button:hover {
    transform: scale(1.1);
}

.message {
    display: none;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #555;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
