body {
    font-family: 'Playfair Display', serif;
    background-color: #F0FFFB; /* Body background color */
    color: #333;
    padding: 0;
    margin: 0;
}

/* Header styles */
header {
    background-color: #ffffff; /* Header background color */
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo styles */
.logo {
    font-size: 2rem;
    font-weight: bold;
    background-color: #000000; /* Background color for Atomic Watches title */
    padding: 0.5rem;
    border-radius: 5px;
}

.colorl {
    color: #ffffff; /* White color for the first part of the logo */
}

.color {
    color: #3cb44b; /* Green color for the second part of the logo */
}

/* Search bar styles */
.search-bar {
    display: flex;
    align-items: center;
}

#search-bar {
    width: 300px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 0.5rem;
    background-color: #f1f1f1; /* Search bar background color */
}

button {
    padding: 0.5rem 1rem;
    background-color: #34A853; /* Default button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8f9058; /* Hover effect for buttons */
}

#contact-btn {
    background-color: #607BFF; /* Different color for the contact button */
}

#cart {
    margin-left: 1rem;
    font-size: 1.2rem;
}

/* Banner styles */
.banner {
    text-align: center;
    margin: 2rem 0;
    background-color: #4640F0; /* Banner background color */
    padding: 1rem;
    border-radius: 5px;
}

/* Category icons */
.category-icons {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.category-icons button {
    background-color: #4285F4;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Contact info */
#contact-info {
    display: none;
    font-size: 1rem;
    color: #0078FF;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    background-color: #f4b400; /* Contact info background color */
    text-align: center;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9); /* Footer background color */
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }
}

/* Example for applying animations */
.coming-soon,
.search-options,
.product-list {
    animation: fadeIn 0.7s ease-in-out, slideIn 0.7s ease-in-out;
}
